﻿<%@ Page Title="About Us" Language="C#" MasterPageFile="~/Site.master" AutoEventWireup="true"
    CodeFile="About.aspx.cs" Inherits="About" %>

<asp:Content ID="HeaderContent" runat="server" ContentPlaceHolderID="HeadContent">
</asp:Content>
<asp:Content ID="BodyContent" runat="server" ContentPlaceHolderID="MainContent">
    <h2>
        CURTINSQUARE IS YOUR PLATFORM FOR INTERACTION...</h2>
    <p>
        Discuss your academic and non-academic issues here, have brain storming 
        sesssions, share you ideas and suggestions. CurtinSquare provides you the space 
        to interact with the relevant authorities in order to contact your issues 
        directly...&nbsp;
    </p>
</asp:Content>
