﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Site.master" AutoEventWireup="true" CodeFile="challenge.aspx.cs" Inherits="challenge" %>

<asp:Content ID="Content1" ContentPlaceHolderID="HeadContent" Runat="Server">
    <style type="text/css">
    .style7
    {
        width: 84px;
        height: 56px;
    }
    .style8
    {
        height: 56px;
            text-align: center;
        }
    .style9
    {
        width: 122px;
        height: 196px;
    }
    .style12
    {
        height: 30px;
        width: 386px;
    }
    #TextArea1
    {
        width: 743px;
        height: 138px;
        margin-left: 19px;
        margin-top: 0px;
    }
    .style13
    {
        height: 196px;
    }
        .style14
        {
            width: 122px;
            height: 56px;
        }
    </style>
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="MainContent" Runat="Server">
    <p align="center" style="font-size: large; color: #000000">
    <br />
        Post A Challenge/Idea<table style="width: 100%; height: 206px; margin-top: 0px;">
        <tr>
            <td class="style14">
                Title:</td>
            <td class="style8">
                &nbsp;<asp:TextBox ID="txtTitle" runat="server" Height="33px" Width="467px"></asp:TextBox>
            </td>
        </tr>
        <tr>
            <td class="style9">
                <asp:Label ID="Label2" runat="server" Text="Your text here:"></asp:Label>
            </td>
            <td class="style13">
                <asp:TextBox ID="txtPost" runat="server" Height="135px" 
                    style="margin-left: 0px" TextMode="MultiLine" Width="471px"></asp:TextBox>
            </td>
        </tr>
    </table>
</p>
<p>
    <table style="width: 49%; margin-left: 314px;">
        <tr>
            <td class="style12">
                <asp:Button ID="btn_Chalng" runat="server" Height="34px" 
                    style="margin-left: 108px" Text="Post" Width="115px" 
                    onclick="btn_Chalng_Click" />
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <asp:Button ID="btnBack" runat="server" Height="34px" onclick="btnBack_Click" 
                    Text="Back" Width="115px" />
                <br />
                <br />
                <br />
                <asp:Label ID="lblPost" runat="server"></asp:Label>
                <br />
            </td>
        </tr>
    </table>
</p>
<p>
    &nbsp;</p>
<p>
</p>
<p>
</p>
<p>
</p>
<p>
</p>
<p>
</p>
</asp:Content>

