﻿<%@ Page Title="Home Page" Language="C#" MasterPageFile="~/Site.master" AutoEventWireup="true"
    CodeFile="Default.aspx.cs" Inherits="_Default" %>

<asp:Content ID="HeaderContent" runat="server" ContentPlaceHolderID="HeadContent">
    <style type="text/css">
    .style8
    {
            width: 716px;
        }
</style>
</asp:Content>
<asp:Content ID="BodyContent" runat="server" ContentPlaceHolderID="MainContent">
    <p>
        <br />
    </p>
    <p>
        <table style="width: 89%; height: 163px; margin-left: 40px;">
            <tr>
                <td class="style8">
                    <asp:LinkButton ID="LinkButton1" runat="server">There are many defective electrical sockets in D blog common area.</asp:LinkButton>
                </td>
                <td>
                    <asp:Button ID="btnReply" runat="server" onclick="btnReply_Click" 
                        Text="Reply" />
                </td>
                <td>
                    &nbsp;</td>
            </tr>
            <tr>
                <td class="style8">
                    <asp:GridView ID="dgvPosts" runat="server">
                    </asp:GridView>
                </td>
                <td>
                    &nbsp;</td>
                <td>
                    &nbsp;</td>
            </tr>
            <tr>
                <td class="style8">
                    &nbsp;</td>
                <td>
                    &nbsp;</td>
                <td>
                    &nbsp;</td>
            </tr>
        </table>
&nbsp;&nbsp;&nbsp;
    </p>
    <p>
    </p>
</asp:Content>
