﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Site.master" AutoEventWireup="true" CodeFile="Discussion.aspx.cs" Inherits="Discussion" %>

<asp:Content ID="Content1" ContentPlaceHolderID="HeadContent" Runat="Server">
    <style type="text/css">
    .style6
    {
        width: 291px;
    }
    .style7
    {
        }
    .style8
    {
        color: #000000;
        font-size: large;
    }
        .style9
        {
            width: 137px;
            height: 143px;
        }
        .style10
        {
            width: 125px;
            height: 143px;
        }
        .style11
        {
            width: 137px;
            height: 207px;
        }
        .style12
        {
            width: 125px;
            height: 207px;
        }
    </style>
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="MainContent" Runat="Server">
    <br />
    <br />
&nbsp;&nbsp;
    <div style="font-family: 'Times New Roman', Times, serif; font-size: medium; font-weight: lighter; background-color: #0099CC; height: 24px; width: 852px; margin-left: 40px;">
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <span class="style8">Reply&nbsp; 
        Submissions&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
    </div>
    <br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <br />
    <br />
    <div style="height: 510px">
        <table style="width: 100%; height: 474px;">
            <tr>
                <td class="style11">
                    </td>
                <td class="style12">
                    <br />
                    <br />
                    <br />
                    <br />
                    <asp:GridView ID="GridView1" runat="server" Width="481px" Visible="False">
                    </asp:GridView>
                    <br />
                    <asp:TextBox ID="TextBox4" runat="server" Enabled="False" Height="39px" 
                        Width="467px">There are many defective electrical sockets in D blog common area.</asp:TextBox>
                    <br />
                    <asp:Label ID="lblPost" runat="server"></asp:Label>
                    <br />
                </td>
            </tr>
            <tr>
                <td class="style9">
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
                    &nbsp;<asp:Label ID="lbl_rply" runat="server" Text="Reply"></asp:Label>
                </td>
                <td class="style10">
                    <br />
                    <asp:TextBox ID="txtbx_rep2" runat="server" Height="69px" 
                        style="margin-top: 0px" TextMode="MultiLine" Width="278px"></asp:TextBox>
                    <br />
                    <br />
                    <%--<asp:Button ID="btn_rply" runat="server" onclick="btn_rply_Click" 
                        Text="Add Reply " />--%>
                    <asp:Button ID="Button1" runat="server" Text="Reply" onclick="Button1_Click1" />
                    <br />
                    <br />
                    <br />
                    <br />
                </td>
            </tr>
        </table>
    </div>
</asp:Content>

