﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Site.master" AutoEventWireup="true" CodeFile="Post_a_challenge.aspx.cs" Inherits="Post_a_challenge" %>

<asp:Content ID="Content1" ContentPlaceHolderID="HeadContent" Runat="Server">
    <style type="text/css">
    .style1
    {
        width: 230px;
    }
    .style2
    {
            width: 232px;
        }
    .style3
    {
        width: 230px;
        height: 162px;
    }
    .style4
    {
        width: 232px;
        height: 162px;
    }
    .style5
    {
        height: 162px;
    }
</style>
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="MainContent" Runat="Server">
    <p>
    &nbsp;</p>
<div>
    <table style="width: 100%; height: 303px;">
        <tr>
            <td class="style3">
                <asp:Label ID="lbl_Username" runat="server" Text="Label"></asp:Label>
            </td>
            <td class="style4">
                <asp:TextBox ID="TextBox2" runat="server" Height="105px" Width="320px" 
                    ReadOnly="True"></asp:TextBox>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <br />
                <asp:Button ID="btn_post" runat="server" Text="Post" onclick="btn_post_Click" />
            </td>
            <td class="style5">
                </td>
        </tr>
        <tr>
            <td class="style1">
                &nbsp;</td>
            <td class="style2">
                &nbsp;</td>
            <td>
                &nbsp;</td>
        </tr>
        <tr>
            <td class="style1">
                &nbsp;</td>
            <td class="style2">
                <asp:Label ID="lblPost" runat="server"></asp:Label>
            </td>
            <td>
                &nbsp;</td>
        </tr>
    </table>
    <br />
    <br />
    <br />
    <br />
    <br />
</div>
<p>
    &nbsp;</p>
</asp:Content>

